Source: geneweb
Section: misc
Priority: optional
Maintainer: Christian Perrier <bubulle@debian.org>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 7.0.50~), ocaml-best-compilers, ocaml (>= 3.04), camlp5, doc-base, dh-buildinfo, iso-codes, isoquery, po-debconf, liblablgtk2-ocaml-dev
Homepage: http://www.geneweb.org/
Vcs-Git: git://anonscm.debian.org/collab-maint/geneweb.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/geneweb.git;a=summary

Package: geneweb
Section: misc
Architecture: any
Depends: ${shlibs:Depends},perl5-base, lsb-base (>= 3.0-6)
Pre-Depends: ${misc:Depends}, iso-codes, isoquery, adduser, dpkg (>= 1.15.6~)
Suggests: gwtp, gwsetup, lynx | www-browser, geneweb-gui
Priority: optional
Description: genealogy software with web interface
 Geneweb allows keeping track of ancestral data. It is a powerful
 system for maintaining a set of data about your family history. It
 supports much of the GEDCOM tag system for data storage, and can be
 used either as your primary system for archiving genealogical data,
 or as a web service (through a CGI interface) for publishing your
 data for others to use.

Package: gwtp
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, geneweb
Pre-Depends: dpkg (>= 1.15.6~)
Suggests: httpd
Priority: optional
Description: web interface interacting with Geneweb databases
 Geneweb allows keeping track of ancestral data. It is a powerful
 system for maintaining a set of data about your family history. It
 supports much of the GEDCOM tag system for data storage, and can be
 used either as your primary system for archiving genealogical data,
 or as a web service (through a CGI interface) for publishing your
 data for others to use.
 .
 Gwtp is a CGI program allowing owners of databases hosted on a
 GeneWeb site to upload and download their databases on the site and
 change their configuration parameters.

Package: gwsetup
Section: misc
Architecture: any
Pre-Depends: adduser, dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${shlibs:Depends}, geneweb
Priority: optional
Description: utilities to configure and manipulate Geneweb databases
 Geneweb allows keeping track of ancestral data. It is a powerful
 system for maintaining a set of data about your family history. It
 supports much of the GEDCOM tag system for data storage, and can be
 used either as your primary system for archiving genealogical data,
 or as a web service (through a CGI interface) for publishing your
 data for others to use.
 .
 Gwsetup is a command-line program which also includes a mini web server
 to help Geneweb users to setup and manipulate genealogical databases
 to be used with the main Geneweb program.

Package: geneweb-gui
Section: misc
Architecture: any
Pre-Depends: adduser, dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${shlibs:Depends}, geneweb
Priority: optional
Description: graphical user interface to Geneweb genealogy software
 Geneweb allows keeping track of ancestral data. It is a powerful
 system for maintaining a set of data about your family history. It
 supports much of the GEDCOM tag system for data storage, and can be
 used either as your primary system for archiving genealogical data,
 or as a web service (through a CGI interface) for publishing your
 data for others to use.
 .
 This package provides a graphical interface to geneweb (assuming the
 database is hosted on the local machine).


