[Desktop Entry]
Name=Geneweb GUI
Comment=Geneweb genealogy software - graphical interface
Comment[fr]=Logiciel de généalogie Geneweb - interface graphique
Exec=/usr/bin/geneweb-gui
Icon=/usr/share/geneweb/images/favicon_gwd.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Office;Database;
