[Desktop Entry]
Name=geneweb
Comment=Geneweb genealogy software - start page
Comment[fr]=Logiciel de généalogie Geneweb - page d'accueil
GenericName=Geneweb genealogy software - start page
GenericName[fr]=Logiciel de généalogie Geneweb - page d'accueil
Exec=/usr/bin/x-www-browser http://localhost:2317
Icon=/usr/share/pixmaps/geneweb.png
Terminal=false
Type=Application
Categories=Office;Database;
Keywords=Genealogy;Web;Database;Family tree;Consanguinity;gedcom;ged;gw;
