[Desktop Entry]
Name=geneweb-gui
Comment=Geneweb genealogy software - graphical interface
Comment[fr]=Logiciel de généalogie Geneweb - interface graphique
GenericName=Geneweb genealogy software - graphical interface
GenericName[fr]=Logiciel de généalogie Geneweb - interface graphique
Exec=/usr/bin/geneweb-gui
Icon=/usr/share/pixmaps/geneweb.png
Terminal=false
Type=Application
Categories=Office;Database;
Keywords=Genealogy;Web;Database;Family tree;Consanguinity;gedcom;ged;gw;
