[Desktop Entry]
Name=gwsetup
Comment=Geneweb genealogy software - configuration
Comment[fr]=Logiciel de généalogie Geneweb - configuration
GenericName=Geneweb genealogy software - configuration
GenericName[fr]=Logiciel de généalogie Geneweb - configuration
Exec=/usr/bin/x-www-browser http://localhost:2316
Icon=/usr/share/pixmaps/gwsetup.png
Terminal=false
Type=Application
Categories=Office;Database;
Keywords=Genealogy;Web;Database;Family tree;Consanguinity;gedcom;ged;gw;
